# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\oss\aliyunsts_authorized_oss\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
